<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"  
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Prescriptions list</title>
    
    <link href="css/personform.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div id="container">

	<h1>PRESCRIPTIONS LIST</h1>
	
	<!-- Add a button -->
	<a th:href="@{/prescriptions/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Create prescription
	</a>
	
	<a th:href="@{/}"
		class="btn btn-secondary btn-sm mb-3">
		Go back to the Home Page
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Visit</th>
				<th>Patient</th>
				<th>Dentist</th>
				<th>Date of issue</th>
				<th>Expiration date</th>
				<th>Medicine ID</th>
				<th>Notes</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempPrescription : ${prescriptions}">
				<td th:text="${{tempPrescription.visitID}}" />
				<td th:text="${{tempPrescription.patientID}}" />
				<td th:text="${{tempPrescription.dentistID}}" />
				<td th:text="${tempPrescription.dateOfIssue}" />
				<td th:text="${tempPrescription.expirationDate}" />
				<td th:text="${tempPrescription.medicineID}" />
				<td th:text="${tempPrescription.receiptNotes}" />

				
				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/prescriptions/showFormForUpdate(prescriptionID=${tempPrescirption.prescriptionID})}"
					   class="btn btn-info btn-sm">
						Update
					</a>
					
					<!-- Add "delete" button/link -->					
					<a th:href="@{/prescriptions/delete(prescriptionID=${tempPrescription.prescriptionID})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this prescription?'))) return false">
						Delete
					</a>
					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



