<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration</title>
    <link href="css/personform.css" rel="stylesheet">
    <link href="css/headerstyle.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div th:insert="~{fragments/header::header}"></div>
	<div id="container">
		<h1>REGISTRATION FORM</h1>
	    <form action="#" th:action="@{/addPersonForm}" th:object="${addPerson}" method="post">
	        <p>FIRST NAME: <input type="text" placeholder="eg. Jan" th:field="*{firstName}" /></p>
	        <p>LAST NAME: <input type="text" placeholder="eg. Kowalski" th:field="*{lastName}" /></p>
	        <p>PESEL: <input type="text" placeholder="eg. 95010122000" th:field="*{pesel}" /></p>
			<p th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}">PESEL Error</p>
	        <p>CITY: <input type="text" placeholder="eg. Bydgoszcz" th:field="*{addressCity}" /></p>
	        <p>STREET: <input type="text" placeholder="eg. Długa" th:field="*{addressStreet}" /></p>
	        <p>NUMBER: <input type="text" placeholder="eg. 1/1" th:field="*{addressNumber}" /></p>
	        <p>PHONE NUMBER: <input type="text" placeholder="eg. 602602602" th:field="*{phoneNumber}" /></p>
	        <p>E-MAIL ADDRESS: <input type="email" placeholder="eg. jan@mail.com" th:field="*{emailAddress}" /></p>
	        <p>PASSWORD: <input type="password" th:field="*{password}" /></p>
	        <p><input type="submit" value="Sign Up"/></p>
	        <div id="home_link">
	        	<a href="home">Go back to the Home Page</a>
	        </div>
	    </form>
    </div>
    <div th:insert="~{fragments/footer::copy}"></div>
</body>
</html>