<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Registration Form</h1>
    <form action="#" th:action="@{/addPersonForm}" th:object="${addPerson}" method="post">
        <p>PESEL: <input type="text" th:field="*{pesel}" /></p>
        <p>First Name: <input type="text" th:field="*{firstName}" /></p>
        <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
        <p>City: <input type="text" th:field="*{addressCity}" /></p>
        <p>Street: <input type="text" th:field="*{addressStreet}" /></p>
        <p>Number: <input type="text" th:field="*{addressNumber}" /></p>
        <p>Phone Number: <input type="number" th:field="*{phoneNumber}" /></p>
        <p>E-mail address: <input type="email" th:field="*{emailAddress}" /></p>
        <p>Password: <input type="password" th:field="*{password}" /></p>
        <p><input type="submit" value="Sign Up" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>