<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:href="@{/css/headerstyle.css}" type="text/css" rel="stylesheet">
</head>
<body>

	<div th:fragment="header">
		<div id="navheader">
		<h1>A beautiful picture to be inserted :)</h1>
		<div id="navigation">
			<ul>
				<li><a href="/home"> Home</a></li>
				<li><a href="/addWorkerForm">Add worker</a></li>
				<li><a href="/visits/list">Visits</a></li>
				<li><a href="/prescriptions/list">Prescriptions</a></li>
				<li><a href="/test_reports/list">Test reports</a></li>
				<li style="float:right" th:if="${#httpServletRequest.remoteUser}==null"><a href="/login">Sign In</a></li>
				<li style="float:right;" th:if="${#httpServletRequest.remoteUser}!=null">
					<form th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" style="color: #384047; text-decoration: none; width: auto; display: block; padding: 8px 16px;border: none; background: none;"/>
					</form>
				</li>
				<li style="float:right"><a href="/addPersonForm">Register user</a></li>
			</ul>
		</div>
		</div>
	</div>
</body>

</html>